<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div>
        <div>
            <form th:object="${memberSearch}" class="form-inline" action="/members" method="get">
                <div class="form-group mb-2">
                    <input type="text" th:value="*{searchText}" id="searchText" class="formcontrol" />
                </div>
                <div class="form-group mx-sm-1 mb-2">
                    <select th:value="*{role}" id="role" class="form-control">
                        <option value="">등급</option>
                        <option th:value="ROLE_ADMIN">관리자</option>
                        <option th:value="ROLE_MANAGER">매니저</option>
                        <option th:value="ROLE_USER">일반</option>
                    </select>
                </div>
                <div class="form-group mx-sm-1 mb-2">
                    <select th:value="*{provider}" id="provider" class="form-control">
                        <option value="">SNS</option>
                        <option th:value="google">구글</option>
                        <option th:value="naver">네이버</option>
                        <option th:value="facebook">페이스북</option>
                        <option th:value="kakao">카카오</option>
                    </select>
                </div>
                <div class="form-group mx-sm-1 mb-2">
                    <select th:value="*{searchType}" id="type" class="form-control">
                        <option value="">타입</option>
                        <option th:value="이름">이름</option>
                        <option th:value="주소">주소</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary mb-2" >검색</button>
            </form>
        </div>

        <table class="table table-striped" style="white-space: nowrap">
            <thead>
            <tr>
                <th>SNS</th>
                <th>이름</th>
                <th>등급</th>
                <th>이메일</th>
                <th>도시</th>
                <th>주소</th>
                <th>우편번호</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="member : ${members}">
                <td th:text="${member.provider}"></td>
                <td th:text="${member.username}"></td>
                <td th:text="${member.role}"></td>
                <td th:text="${member.email}"></td>
                <td th:text="${member.address?.city}"></td>
                <td th:text="${member.address?.street}"></td>
                <td th:text="${member.address?.zipcode}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
<script>
    let roleSelect = $("#role");
    let searchType = $("#type");
    let providerSelect = $("#provider");

    let searchData =
        {
            searchText : $("#searchText").value(),
            role : roleSelect.options[roleSelect.selectedIndex].value(),
            searchType : searchType.options[searchType.selectedIndex].value(),
            provider : providerSelect.options[providerSelect.selectedIndex].value()
        }

    function test(){
        console.log(searchData)

    }


</script>
</html>